<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
body
    section.section
        img(src="./img/headerbg.png")   
        img(src="./img/logo.png")
        h1 Открой свою мужскую парикмахерскую
        <mark> и начни зарабатывать от 250 тыс. рублей в месяц</mark>

    section.section
        img(src="./img/whybg.png")
        .content
            p Наверняка вы читаете эту презентацию  не от безделья а потому что хотите открыть собственный бизнес , который должен быть в первую очередь доходным и конечно же интересным. 
            p.text__text--motto Мы&nbsp;уверены,что мы&nbsp;- лучшие!
            br
            h5 Почему?
            br
            strong А вот почему, мы Вам сейчас и расскажем

    section.section
        img.img__bg(src="./img/butbg.jpg")
        .content
                h4.text__title--orange Но!
                p В начале, давайте договоримся, что мы будем рассказывать <mark>все&nbsp;условия честно</mark> и без преувеличения, без использования шаблонов и дешёвых обещаний. Будем рассказывать все понятно и на русском человеческом языке.

    section.section 
        img.img__bg(src="/img/pricebg.jpg")
        .content 
            p Начнем прямо сейчас и сразу!
            br
            h2 <header>Стоимость франшизы</header>
            br
            h4  «OldBoy Barbershop» (паушальный взнос) 
            .arrow
                i.fa.fa-chevron-down.arrow__arrow(aria-hidden="true" )
            h2 400тыс.&nbsp;рублей
            p.text__title--prim  +100 тыс. рублей для города миллионика <br> +100 тыс. рублей за эксклюзив на город <br> никто, кроме Вас , в городе открыть OldBoy не сможет

    section.section
        img.img__bg(src="./img/sumbg.png")
        .content   
            h4 Что входит в эту сумму?
            p Взнос включает в себя в совокупности все расходы с нашей стороны, которые мы понесем <mark>для успешного открытия Вашего</mark> «OldBoy Barbershop».
            strong А теперь более конкретно

    section.section
        img.img__bg(src="./img/stagesbg.png")
        .content
            h4 Этапы открытия Вашего  
            h4 «OldBoy Barbershop»
            .arrow
                i.fa.fa-chevron-down.arrow__arrow(aria-hidden="true" style="width:200px")
        
    section.section 
        img.img__bg(src="./img/contractbg.png")
        .content
            .number 1
            h4 Подписание договора
            p Договор обычно заключается дистанционно. Если же Вы решите прилететь к нам в город (управляющая компания находится в г. Калининград), мы организуем Вам чартер и экскурсию по нашим OldBoy - покажем Вам как работает бизнес изнутри.Договор заключаем как и на физические, так и на юридические лицДалее, у вас всегда будет на связи юрист от нашей команды, кото 
        
    section.section
        img.img__bg(src="./img/search-roombg.png")
        .content
            .number 2
            h4 Поиск помещения
            p Мы даем критерии для поиска помещения в Вашем городе и всячески  содействуем Вам в его подборе.Основатель сети «OldBoy Barbershop» вместе с дизайнерами будет оценивать  каждый предложенный вариант, и давать Вам обоснованную оценку по рентабельности  помещения, взвешивая все плюсы и минусы.
    
    section.section
        img.img__bg(src="./img/designbg.png")
        .content
            .number 3 
            h4 Создание дизайн-проекта
            p.text__text.text__text--left  После утверждения помещения, наша команда дизайнеров разрабатывает дизайн - проект. Это не просто дизайнеры, это специалисты, которые сделали более полусотни дизайнов барбершопа и знают все тонкости от правильного расположения розеток до таких тонких моментов, как направление света, расстояние между креслами и так далее.Дизайн делается от 5 до 7 рабочих дней. Вы будете принимать комплексное участие в процессе, всегда поддерживая связь с дизайнерами. Мы сохраним Ваши пожелания, используя корпоративный стиль компании.
    
    
    section.section.section--color
        .content.content--gallery
            h4 Примеры дизайн-проекта
            .gallery
                .img
                        img.gallery__img(src='./img/gallery1.png')
                .img
                        img.gallery__img(src='./img/gallery2.png')
                .img
                        img.gallery__img(src='./img/gallery3.png')
                .img
                        img.gallery__img(src='./img/gallery4.png')
                .img.img--full
                        img.gallery__img(src='./img/gallery5.png')
                



    section.section
        img.img__bg(src="./img/buildbg.png")
        .content
            .number 4 
            h4 Ремонт помещения
            p После получения дизайн проекта, в котором будут все электросхемы и цветные отрисовки дизайна, включая материалы, Вам нужно будет согласовать и начать ремонт помещения с рабочей бригадой, которую находите Вы в своем регионе.
        
    section.section
        img.img__bg(src="./img/brandbg.png")
        .content
            .number 5
            h4 Передача брэнда
            p Мы скидываем вам полностью бренд - пак от визиток до подарочных сертификатов, а так же руководство к открытию, в котором будут всевозможные поставщики от элементов декора до эксклюзивной косметики. От программы обработки фотографии для соц. сетей, до текста, с помощью которого подать объявление о поиске администратора на Avito.

    section.section
        img.img__bg(src="./img/equipmentbg.png")
        .content
            .number 6
            h4 Закупка оборудования 
            p Далее, Вам позвонят наши проверенные поставщики по оборудованию и инструменту. Мы не выступаем третьими лицами, накручивая наценку на товар.<br>Товар Вы покупаете напрямую, используя наши максимальные скидки. Мы не ограничиваем Вас в выборе продавца, а лишь даем рекомендации. Если Вы вдруг найдете варианты дешевле (мы сомневаемся в этом), то Вы можете купить все самостоятельно.

    section.section
        img.img__bg(src="./img/crmbg.png")
        .content
            .number 7
            h4.text__title--balance Подключение CRM  и онлайн-записи
            p Мы подключаем Вам и вашему Барбершопу мобильное приложение, СRМ систему учёта, и онлайн запись. Вы всегда сможете через телефон контролировать сумму в кассе, количество записей клиентов и проданный товар.CRM система учёта полностью исключает  возможность воровства сотрудников. Мы за свой счёт оплачиваем аб. плату СRМ системы и несём все расходы на поддержку онлайн сервисов (моб. приложение, сайт).

    section.section
        img.img__bg(src="./img/managebg.png")
        .content
            h4 Управляйте барбершопом с телефона
            p Наши барбершопы полностью автоматизированы:
            .barbershop-feature
                ul.barbershop-feature__list
                    li.barbershop-feature__item 
                        mark Клиентская&nbsp;база 
                        p.barbershop-feature__text со статистикой и историей посещений.Помогает не терять постоянных клиентов
                            //- img.barbershop-feature__img(src="#")
                    li.barbershop-feature__item 
                        mark Электронный&nbsp;журнал 
                        p.barbershop-feature__text  записи клиентов, с функцией SMS и E-mail напоминаний, что уменьшает количество опоздавших на стрижку.
                        //- img.barbershop-feature__img(src="#")
                    li.barbershop-feature__item 
                        mark Онлайн&nbsp;запись 
                        p.barbershop-feature__text помогает не упускать уcложнение с онлайн-записью.Более 45% клиентов делают запись через мобильноe приложение.
                        //- img.barbershop-feature__img(src="#")
                    li.barbershop-feature__item 
                        mark Полная&nbsp;статистика
                        p.barbershop-feature__text чтобы знать ключевые показатели бизнеса.
                        //- img.barbershop-feature__img(src="#")
                    li.barbershop-feature__item 
                        mark Мобильное&nbsp;приложение,
                        p.barbershop-feature__text с онлай-записью.Более 45% клиентов делают запись через мобильное приложение.
                        

    section.section
        img.img__bg(src="./img/mastersbg.png")
        .content
            .number 8
            h4 Поиск мастеров
            p Мы начинаем заниматься поиском мастеров в Вашем городе, делаем это самостоятельно и всю ответственность берем на себя. Мы ищем мастеров через социальные сети, по объявлениям, вытягиваем домушников, переманиваем мастеров из других барбершопов и т.д. Ведем переговоры и обмениваемся информацией. Мастеров мы будем искать только опытных и имеющих стаж по работе с мужскими стрижками. Мы их найдем в любом по величине городе, это мы можем гарантировать.

    section.section
        img.img__bg(src="./img/advertisingbg.png")
        .content
            .number 9
            h4 Реклама в соц. сетях
            p Далее, наша команда начинает раскручивать Вас в социальных сетях самостоятельно, не отвлекая Вас. Мы занимаемся группой ВКонтакте и Instagram аккаунтом. Мы самостоятельно разогреваем ажиотаж о готовящемся открытии «OldBoy Barbershop» в Вашем городе. Выкладываем фото, пишем информацию, занимаемся целевой рекламой в социальных сетях. Это значительно экономит Ваше время. 

    section.section
        img.img__bg(src="./img/openbg.png")
        .content
            .number 10
            h4.text__title--balance Обучение мастеров и открытие 
            p.text__text.text__text--left.text__text--balance Мы вылетаем к Вам в город в составе ведущего специалиста, обладающего статусом технолога American Crew, и основателя OldBoy. Живем у Вас в городе, проводим кастинги по мастерам, мастер классы и, конечно же, передаем философию OldBoy. Общение по обмену опытом и технологии опасного бритья, а так же семинар правильного использования мужской косметики. Мы поможем Вам провести открытие, пострижем Ваших клиентов на открытии и конечно же создадим правильную атмосферу. 

    section.section
        img.img__bg(src="./img/needbg.jpg")
        .content.content--no
            h4.text__title--underline Для этого потребуется 
            .features
                ul.features__list 
                    li.features__item
                        img(src="./img/features/city-feature.png")
                        h4.features__title Помещение
                        .features__desc для барбершопа от 35 до 70 м
                    
                    li.features__item
                        img(src="./img/features/wallet-feature.png")
                        h4.features__title Инвестиции 
                        .features__desc 1000-1150 тыс. рублей (ремонтные работы, оборудование, косметика и открытие, включая все дополнительные расходы )

                    li.features__item
                        img(src="./img/features/time-feature.png")
                        h4.features__title Время 
                        .features__desc для открытия от 35 до 45 дней 
                    //- li.features__item--total
                    //-     .features__desc Для Москвы и Санкт-Петербурга эта сумма будет 1250-1400 тыс. рублей

    section.section.section--color
        .content
            h3.text__title.text__title--bold Как будет выглядеть ваш барбершоп
            .gallery
                .img
                    img.gallery__img(src='./img/barbers1.png')
                .img
                    img.gallery__img(src='./img/barber2.jpg')
                .img
                    img.gallery__img(src='./img/barber3.jpg')
                .img
                    img.gallery__img(src='./img/barbersbig.jpg')
                .img
                    img.gallery__img(src='./img/barbers1.png')
                .img
                    img.gallery__img(src='./img/barber2.jpg')
                .img
                    img.gallery__img(src='./img/barber3.jpg')
                .img
                    img.gallery__img(src='./img/barbersbig.jpg')
                //- .img
                //-     img.gallery__img(src='./img/barbersbig.jpg')
                //- .img
                //-     img.gallery__img(src='./img/barbersbig.jpg')
                //- .img
                //-     img.gallery__img(src='./img/barbersbig.jpg')
                //- .img
                //-     img.gallery__img(src='./img/barbersbig.jpg')
        
    section.section
        img.img__bg(src="./img/advantagesbg.jpg")
        .content
            h4.text__title--underline Преимущества 
            h4 франшизы «OldBoy Barbershop» 
            .features
                ul.features__list
                    li.features__item
                        img(src="./img/features/features1.png")
                        br
                        h4.features__title Эксклюзивный дизайн 
                        p.features__desc Неповторимая атмосфера брутального барбершопа
                    li.features__item
                        img(src="./img/features/open-feature.jpg")
                        br
                        h4.features__title Ни одной закрывшейся точки 
                        p.features__desc (из 65 на 6 мая 2017)

                    li.features__item
                        img(src="./img/features/loayal-feature.png")
                        br
                        h4.features__title Самый лояльный роялти 
                        p.features__desc всего 5%

                    li.features__item
                        img(src="./img/features/creme-feature.png")
                        h4.features__title Собственное производство 
                        p.features__desc мужской косметики 
                    li.features__item
                        img(src="./img/features/tatoo-feature.png")
                        h4.features__title Тату-студия
                        p.features__desc Без ваших вложений (по желанию)

    section.section
        img.img__bg(src="./img/supportbg.png")
        .content
            h4.text__title--underline О нашей поддержке 
            p Наша поддержка — <mark>это&nbsp;поддержка во&nbsp;всем.</mark> Это специальный штат профессионалов состоящий из дизайнеров, юристов, маркетологов, IT-программистов, которые работают 5 дней в неделю специально для Вас!
            p   Например, через год, после того как состоялось открытие, Вы решите сделать баннер на какое-нибудь мероприятие, или Вам потребуется помощь юриста, дизайнера, то Вы просто обращаетесь к нам и получаете это совершенно <mark>бесплатно,&nbsp;и,&nbsp;самое главное, в короткий срок.</span>
            p   Помимо всего этого у Вас будет персональный менеджер для решения любых вопросов, связанных с работой парикмахерской.
    
    section.section
        img.img__bg(src="./img/endbg.png")
        .content
            p Если в вашем городе еще нет барбершопа OldBoy, то это лишь вопрос времени! Возможно, в этот самый момент твой (перейдём на ты?) сосед или друг.... а может даже враг читает эту же презентацию и уже звонит нам. А чего ждёшь ты?
            strong.text__title--strong  Звони сейчас !
            br
            p.text__text--phone +7&nbsp;952&nbsp;794&nbsp;78&nbsp;36
            br
            p.text__text.text__text--bg  Владислав
            br
            p.text__text  менеджер по развитию франчайзинговой сети барбершопов OldBoy 






